[2015-05-14 05:13] fsasaki opened #1 "json format for templates"
In the example call for e-Link
https://github.com/freme-project/e-Link#try-it
I see in the java source code how to set a template as a programmer of e-link. At the moment the end uers cannot provide templates externally it seems, that is while calling e-link. We had discussed this a while ago, see
https://github.com/freme-project/technical-discussion/issues/8#issuecomment-99461117
Opening this iss

[2015-05-22 07:48] m1ci opened #2 "Improve Broker API Calls wiki"
The documentation Broker API Calls is too short. We need an explanation what the template does a link to the data.ttl file in the example.

[2015-05-22 07:51] m1ci opened #3 "Accept header should be always provided"
"Accept" has to be filled in anyway, with */* if needed (which is not very clean).

[2015-05-22 07:52] m1ci opened #4 "Requesting data in rdfxml renders JSON-LD"
outformat “rdfxml” or Content-Type “application/rdf+xml” seems to render JSON-LD

[2015-05-22 07:55] m1ci opened #5 "Wrong informat and outformat parameters result in default behaviour"
Wrong parameters (informat, outformat) result in default behaviour (without error / warning).

[2015-05-22 08:44] #4 closed, assigned to nobody

[2015-05-26 15:11] #5 closed, assigned to m1ci

[2015-05-26 15:11] #3 closed, assigned to m1ci

[2015-05-26 15:22] #2 closed, assigned to m1ci

[2015-06-03 14:11] m1ci opened #6 "Manipulation with templates"
Implement new endpoint for manipulation with templates.
###### template creation

[code]
###### template listing

[code]
###### template removal

[code]
###### template update

[code]

[2015-06-03 14:12] m1ci opened #7 "Define more templates"
Templates using GeoNames, LinkedGeoData, Europeana.

[2015-06-03 14:13] m1ci opened #8 "Add suport for additional formats: N3, Ntriples, rdf/xml"
Add support for `N3`, `Ntriples`, `rdf/xml`

[2015-06-03 14:14] m1ci opened #9 "Support for user defined parameters"
All unknown unknown field in the query part of the URI is interpreted as a parameter and then given to the e-Link service which injects them in the template.

[2015-06-03 14:14] m1ci opened #10 "Add support for NIF 3.0"

[2015-07-02 09:05] m1ci opened #11 "provide documentation for API v2"
https://github.com/freme-project/technical-discussion/wiki/Broker-API-Calls

[2015-07-05 20:06] #11 closed, assigned to m1ci

[2015-07-05 20:06] #8 closed, assigned to m1ci

[2015-07-05 20:07] #7 closed, assigned to m1ci

[2015-07-05 20:08] #6 closed, assigned to m1ci

[2015-07-05 20:10] #1 closed, assigned to m1ci

[2015-07-05 20:14] #9 closed, assigned to m1ci

[2015-07-07 12:47] ghsnd opened #12 "Broker does not start"
Hi, not sure if this issue belongs here or at the Broker issues...

When starting the Broker (built from the master branch), an exception is thrown (the last 2 lines are of importance here):

[code]

It boils down to a hardcoded variable in the `eu.freme.eservices.elink.TemplateDAO` class:

[code]

[2015-07-07 14:17] borriellom opened #13 "Cannot create a template in turtle format without specifying the templateId"
Requests for template creation using input file in turtle format always fail if no templateId is defined.
However turtle templates are successfully crated if the templateId is specified.

**Request**
POST http://api-dev.freme-project.eu/current/e-link/templates/
Header: Content-Type = “text/turtle",  Accept= “text/turtle"

**Template**

[code]

**Response**
Error 406

Changing the Accept property

[2015-07-07 14:23] borriellom opened #14 "Created template having an empty ID"
I was able to create a template with templateId="". Now the new created template can be neither retrieved nor deleted.

**Request**
POST http://api-dev.freme-project.eu/current/e-link/templates/
Header: Content-Type = “text/turtle",  Accept= “text/turtle"

**Input Template**

[code]

**Response**
Response code 200

**Output Template**

[code]

[2015-07-07 14:35] borriellom opened #15 "Template creation in json format - Created template is not returned"
Creation of json templates is successful, but the returned json is empty.
If I request the template list, the newly created template is properly listed.

**Request**
POST http://api-dev.freme-project.eu/current/e-link/templates/
Header: Content-Type = “application/json",  Accept= “application/json"

**Input Template**

[code]

**Response**
200

**Output Template**

[code]

[2015-07-07 14:40] borriellom opened #16 "Cannot create json templates since yesterday evening"
The json template creation worked fine till yesterday afternoon.
Today I always receive 500 responses.
I suspect this behaviour is due to the existence of the template with empty ID.
See issue https://github.com/freme-project/e-Link/issues/14

[2015-07-07 14:55] borriellom opened #17 "Content-Type header property mandatory?"
Whatever e-link service I use requiring an input, if I insert the `informat` parameter into the request URL, I always receive a 500 response unless the `Content-Type` is specified.
It doesn't matter which content type is specified: if the informat parameter is specified, it has the higher priority (right behavior). However the request fails if I don't insert the Content-Type property into the head

[2015-07-07 15:06] borriellom opened #18 "informat and outformat possible values"
The possible values for `informat` and `outformat` parameters are described at https://github.com/freme-project/technical-discussion/wiki/Broker-API-Calls#general

The e-link service fails if those values are used.
Actual possible values are: text, turtle (not text/turtle) and json-ld (not application/json+ld).
If it was the intended behavior, then it would be better to change the documentation.

[2015-07-07 15:22] borriellom opened #19 "Enrichment service using templates 4, 5 and 7 - Response 500"
Using one of  the templates listed in the object, the enrichment service always returns  a 500 response.
Maybe it is due to problems at sparql endpoints:
Templates [4](https://github.com/freme-project/technical-discussion/wiki/Broker-API-Calls#sparql-endpoint-httplinkedgeodataorgvsnorql) and [7](https://github.com/freme-project/technical-discussion/wiki/Broker-API-Calls#sparql-endpoint-httplinkedg

[2015-07-07 15:45] borriellom opened #20 "Request for a not existing template"
A request for a not existing template always results in a 500 error.
It would be helpful to return a different error code (ex. 404 not found)

**Request**
GET  http://api-dev.freme-project.eu/current/e-link/templates/100/?outformat=json-ld
**Response**
error 500

[2015-07-13 09:00] #12 closed, assigned to nobody

[2015-07-13 21:02] #18 closed, assigned to nobody

[2015-07-13 21:24] #20 closed, assigned to nobody

[2015-07-14 16:09] #17 closed, assigned to nobody

[2015-07-14 16:19] #16 closed, assigned to nobody

[2015-07-15 07:54] #14 closed, assigned to nobody

[2015-07-15 07:55] #13 closed, assigned to nobody

[2015-07-15 07:55] #15 closed, assigned to nobody

[2015-07-17 13:02] jnehring opened #21 "P3: Add input validation to create / update templates"
I was able to create a template with this call

[code]

Please provide input validation: query needs to be a valid SPARQL query and endpoint needs to be a valid URL.

[2015-07-17 13:07] jnehring opened #22 "P3: Behaviour GET templates on invalid Content-Type"
When I do a call to `http://api-dev.freme-project.eu/current/e-link/templates/` with Content-Type "text/plain" then it produces an "Internal Server Error". This should produce a 400 - Bad Request and a proper error message.

[2015-07-22 09:48] jnehring opened #23 "P3: e-link response on invalid nif"
When invalid NIF is posted to e-link then the service returns "internal server error". In the log files I can see an exception with a hint on where the error occurs. Please add an "InvalidNIFException" to the broker and return the error message from Jena when reading the NIF fails.

[2015-07-22 09:52] jnehring opened #24 "Provide example call for documentation"
The e-link example call from [NIF Examples](https://github.com/freme-project/technical-discussion/wiki/NIF-Examples) does not work. The current example in freme-project/Documentation#20 is very long. Please provide a shorter example, update NIF examples and raise an issue to update documentation with the new example.

[2015-07-28 11:47] #24 closed, assigned to nobody

[2015-07-28 11:49] #10 closed, assigned to m1ci

[2015-07-28 12:15] jnehring opened #25 "P3: Add name and description"
Please
- Add a field `name` and a field `description` to each template
- Update the template manipulation services (GET, POST, PUT) so we can manipulate these fields
- Populate the existing templates with these fields.

[2015-07-30 15:28] josauder opened #26 "P3: POST /e-link/documents response has wrong Content-Type header"
When POST /e-link/documents is called with outformat: "text/turtle", the Content-Type header of the response is "text/plain". The response itself is correctly in the turtle format though.

[2015-08-20 14:54] #26 closed, assigned to m1ci

[2015-08-21 08:37] ghsnd opened #27 "Behaviour unknown entity"
When posting a document to e-Link with a resource (entity) that doesn't exist, this entity is ignored. If this is the expected behaviour, can it be added to the documentation? Another option for instance could be that an error is returned saying that there is an unexisting resource.

Just to be sure while testing e-Link.

[2015-08-21 08:54] #27 closed, assigned to nobody

[2015-08-21 09:06] ghsnd opened #28 "enriching with template name as string"
Enriching a document with a template that has a string ID gives a `500 Internal Server error` response:

[code]

where example.ttl is the example from the API docs, gives:

[code]

Maybe this could be a `400 Bad Request` or something.

[2015-08-21 10:04] #28 closed, assigned to m1ci

[2015-08-21 12:16] m1ci opened #29 "migrate templates to linked data fragments endpoints"
Currently, we face with performance and availability issues of the SPARQL endpoints which are consumed by the templates. As solution, we consider moving templates to LDF endpoints, which use following datasets:
- DBpedia
- GeoNames
- LinkedGeoData
- EventMedia

If possible, also:
- VIAF
- ORCID

[2015-08-21 12:49] ghsnd opened #30 "POSTing incomplete template"
When posting the example template from the documentation (where the `label` is missing), a `500 Internal Server Error` is returned.

[code]

where template.ttl is

[code]

gives:

[code]

Here, a `400 Bad Request` might be a better response.

[2015-08-21 13:39] ghsnd opened #31 "PUT template with uknown id"
When a template is PUT to a resource that does not exist yet, it creates one, even if the documentation only says it modifies _existing_ templates. Is this correct behaviour? E.g.:

[code]

creates a new template with id 5001.

[2015-08-21 14:26] ghsnd opened #32 "[idea] Enrich with multiple templates"
An idea for a future implementation: now it is possible to enrich a document using only 1 template at a time. I can imagine that one wants documents enriched with 2 or more templates, e.g. "the birth date of writers" occurring in the text and also with "the country of places" occurring.

The request would become something like

    .../e-link/documents?templateid=3,5,21

[2015-08-24 07:40] #31 closed, assigned to nobody

[2015-08-24 08:00] #21 closed, assigned to m1ci

[2015-08-24 08:02] #22 closed, assigned to m1ci

[2015-08-24 08:03] #23 closed, assigned to m1ci

[2015-08-25 09:41] #25 closed, assigned to josauder

[2015-08-25 10:02] #30 closed, assigned to m1ci

[2015-08-25 10:09] ghsnd opened #33 "PUTting a template without label gives 500"
When you PUT a template without label, it results in a `500 Internal Server Error`.

E.g.:

[code]

where template.ttl is

[code]

results in

[code]

This should be a `400 Bad Request`.

[2015-08-25 11:32] ghsnd opened #34 "POST overwrites existing templates"
This is a special case. Suppose you PUT a template with ID 2147483647. This is - not by coincidence - the _MAX_INT_ value in Java. If you then POST a template, it gets ID -2147483648 because this is the 2's complement successor of the previous ID. But from then on, all new POSTed templates get this same ID -2147483648, each time overwriting the previously posted template.

More generally, a "gap"

[2015-08-25 12:16] ghsnd opened #35 "Template with unknown variable name"
It is possible to POST a template with a variable named `@@@hello_world@@@`; this returns a `200 OK` response, the template is added and gets an ID. E.g.,:

{
    "query":" PREFIX geo-pos: http://www.w3.org/2003/01/geo/wgs84_pos# CONSTRUCT { <@@@hello_world@@@> geo-pos:lat ?lat . <@@@hello_world@@@> geo-pos:long ?long . } WHERE { <@@@hello_world@@@> geo-pos:lat ?lat . <@@@hello_world@@@> geo-pos:l

[2015-08-25 12:52] ghsnd opened #36 "Creating templates not thread safe"
When creating templates in parallel, some `java.util.ConcurrentModificationException`s occur. Here's the beginning of the stack trace:

[code]

So this points to the Jena model not being thread safe; [here](https://jena.apache.org/documentation/notes/concurrency-howto.html) is some documentation at the Jena website on how to avoid this.

[2015-08-27 09:16] #33 closed, assigned to m1ci

[2015-08-27 11:40] #35 closed, assigned to m1ci

[2015-08-27 11:48] #36 closed, assigned to m1ci

[2015-08-27 12:00] #34 closed, assigned to m1ci

[2015-09-10 10:50] jnehring opened #37 "e-link is not working"
On freme-dev and freme-live e-link throws an error. I tried the example from API documentation and submitted it to several templates. The error was always

[code]

[2015-09-10 12:43] #37 closed, assigned to m1ci

[2015-09-10 13:39] jnehring opened #38 "Error message when template does not exist"
When you try to use e-link with a non existing template then the error message is

[code]

It should be `A template with ID xy does not exist.` where `xy` is the id of the non-existing template.

[2015-09-16 08:03] jnehring opened #39 "Template 7 does not work"
This API call

[code]

Produces this response
[code]

[2015-09-16 08:10] jnehring opened #40 "Examples for Template 1 and 5"
The examples from Template 1 and 5 produce no data.

Template 1:
[code]

Template 5:
[code]

[2015-09-16 08:32] jnehring opened #41 "/e-link/explore endpoint"
Create an endpoint `/e-link/explore` that fetches all triples related to a resource. It has three parameters

* `resource` - the resource URI
* `endpoint` - the endpoint URL
* `endpoint-type`- the type of the endpoint, `ldf`, or `sparql`. Default value is `sparql`

[2015-09-24 11:19] jnehring opened #42 "Exchange template database"
@ArneBinder is currently working on the template security. He has implemented codes to store templates in the MySQL database. We need to store them in the MySQL database because all data is stored there. Users, Tokens, ... are stored in MySQL already and I think we should use a single data store if possible.

That means we keep data in two databases, MySQL and file database. @m1ci  is it ok when @

[2015-10-01 09:52] jnehring opened #43 "Update e-Link persistence"
* Include FREMECommon dependency in e-Link
* Exchange Template Database in e-Link

[2015-10-01 09:52] jnehring commented on #42
Moved to https://github.com/freme-project/e-Link/issues/43

[2015-10-01 09:52] #42 closed

[2015-10-01 16:50] #38 closed

[2015-10-01 16:58] ArneBinder commented on #43
implemented.

[2015-10-02 07:33] jnehring opened #44 "Problem in multiple e-link endpoints"
POST /e-link/documents does not work on freme-dev. The example from http://api-dev.freme-project.eu/doc/api-doc/full.html#!/e-Link/enrich produces
[code]
@ArneBinder maybe there is a connection with https://github.com/freme-project/e-Link/issues/42 or https://github.com/freme-project/Broker/issues/107

[2015-10-02 07:36] jnehring commented on #44
Also GET /e-link/templates and GET /e-link/templates/{id} produce this error on api-dev. I did not test the other e-link endpoints.

[2015-10-05 08:04] m1ci commented on #43
@ArneBinder, @jnehring is the persistence already committed to the master branch? If not, can you please do it?

[2015-10-05 08:10] m1ci commented on #43
... noticed template-persistence branch in e-link and coversion-services projects.

[2015-10-05 10:14] m1ci commented on #41
requests sent as POST, right?

[2015-10-05 14:10] jnehring commented on #41
right.

[2015-10-05 14:16] jnehring commented on #43
It is merged in the master branch in (this package of FREMECommon](https://github.com/freme-project/FREMECommon/tree/master/src/main/java/eu/freme/common/persistence). But there is bug #44 which should be fixed tomorrow.

@ArneBinder please delete the old branches.

[2015-10-06 09:48] ArneBinder commented on #44
This happens because the documentation try-out button uses no authentication.
SecurityContextHolder.getContext().getAuthentication().authentication.getPrincipal() does not return an user Object, but a string "anonymousUser". @jnehring do you have an idea, why this happens? Can we change this, so that an User object with the name property "anonymousUser" is returned? Perhaps with an role "ROLE_ANON

[2015-10-06 10:00] ArneBinder commented on #43
#44 occurs only by using the broker as unauthenticated user. @m1ci it should not affect your work (I hope so). The template-persistence branch was already merged into the e-link master.

[2015-10-06 10:46] ArneBinder opened #45 "Re-uploading the templates to the MySQl database"
Who should be the owner of the existing seven templates?
Perhaps, @m1ci do you want to create an user via the [documentation-page](http://api-dev.freme-project.eu/doc/#/), then authenticate yourself via curl (this will return a json object containing a token) and re-upload the templates (also via curl, use the token as header parameter "X-Auth-Token")?

Or we wait for [this issue](https://github.c

[2015-10-06 10:52] m1ci commented on #45
Yes, will you be so kind and do that? Thanks!

Also, can you please upload also the template with ID 300.
Unfortunately, it is not available at the moment http://api-dev.freme-project.eu/current/e-link/templates/300?outformat=json but it was available with the previous document based storage.

[2015-10-06 10:53] ArneBinder commented on #45
Ok, i will check this.

[2015-10-06 11:03] ArneBinder commented on #45
I'v just taken a look to the templates in [the last documentation version](http://api.freme-project.eu/doc/0.3/#!/e-Link/getAllTemplates). There are more then the seven, which are documented at the doc page. Which of them should I integrate into the new db? Unfortunately I could not find one with ID 300. @m1ci do you have it anywhere else? otherwise I had to go back to an earlier commit manually a

[2015-10-06 11:05] m1ci commented on #45
it was (should be) in `templates.ttl` file

[2015-10-06 11:17] ArneBinder commented on #45
Sorry for bothering again, but I checked several previous commit states and could not find template 300. When did you added this one?

[2015-10-06 11:21] m1ci commented on #45
On Sep 15th and later, the template was there - at the api-dev.

[2015-10-06 11:22] m1ci commented on #45
I found it at the api-dev
[code]

[2015-10-06 12:52] m1ci commented on #41
the SPARQL endpoint based description has been implemented
[code]
The Linked Data Fragments based exploration of a resource is waiting for https://github.com/freme-project/technical-discussion/issues/74 - hosting LDF artifact in our maven repo.

[2015-10-06 15:02] m1ci commented on #39
Thanks for reporting.

Here is the template which we discuss:

[code]

There are two issues with this template:
1) the Linked Geo Data (LGD) does not contain links (sameAS) to DBpedia - not necessary to have them, but difficult to expect that a FREME user will provide entities with links to LGD.
2) however, even if it contains LGD links, there is bug when using the function `bif:st_intersects` See

[2015-10-06 15:49] ArneBinder commented on #45
thx, it is online again, the others also.

[2015-10-06 15:49] #45 closed

[2015-10-06 15:53] m1ci commented on #40
Regarding template 1) - The problem is that in the latest DBpedia release the official DBpedia endpoint does not contain anymore the geometry information. However DBpedia live contains. I recommend switching template 1) to

[code]
and SPARQL endpoint `http://live.dbpedia.org/sparql/` where `@@@entity_uri@@@` is location.

Regarding template 5) - it seems the data model has been recently changed an

[2015-10-06 16:04] m1ci commented on #29
@jnehring we need additional flag in the template storage model - whether the template is sparql or ldf. Since you did the persistence, can you please add this flag? I can provide the code for querying LDF endpoint in the DataEnricher

[2015-10-06 16:52] ArneBinder commented on #43
Can we close this?

[2015-10-06 17:39] ArneBinder commented on #44
fixed in authentication branch

[2015-10-07 07:22] jnehring commented on #43
I am not sure if the GET / POST / PUT / DELETE dataset endpoints work right now. @ArneBinder please test this before you close this ticket.

[2015-10-07 07:24] jnehring opened #46 "Update template model"
Please add an enum "type" to the template model with values `SPARQL` and `LDF`. Please set SPARQL as default value.

[2015-10-07 07:26] jnehring commented on #29
I created #46 to update the template model.

[2015-10-07 07:29] jnehring commented on #40
Sounds good to me. Please do that.

[2015-10-07 08:26] m1ci commented on #29
ok, thanks!

[2015-10-07 12:29] m1ci commented on #46
also it looks that the template based enrichment is performed with the templates stored in RDF, not the one from the database. I suggest we switch only to one - database. In this direction, can you please provide how we can in `DataEnricher` retrieve template by ID?

[2015-10-07 12:39] jnehring commented on #46
Thanks for the update. Will discuss this with @ArneBinder tomorrow.

1st get the template repository which is defined in FREMECommon. Requires FREMECommonConfig to be imported to your config.
[code]

Then use repository:
[code]

Right now the template ID is implemented as string but I am quiet sure that this will change to an Integer in the near future.

[2015-10-07 12:42] m1ci commented on #41
works also for LDF endpoints. Try
[code]
`resource=http://dbpedia.org/resource/Berlin`
`endpoint=http://fragments.dbpedia.org/2014/en`
`endpoint-type=ldf`

Note that the resource and the endpoint URIs should be properly encoded.

[2015-10-08 09:12] jnehring commented on #44
solved in master branch with a workaround, will be solved when https://github.com/freme-project/Broker/issues/107 is fixed.

[2015-10-08 09:12] #44 closed

[2015-10-08 10:10] jnehring opened #47 "Bug in POST template"
POST template (http://api-dev.freme-project.eu/doc/api-doc/full.html#!/e-Link/createTemplate) produces this bug:
[code]

[code]

[2015-10-08 10:11] jnehring commented on #43
Bug in POST template: https://github.com/freme-project/e-Link/issues/47

[2015-10-08 11:28] ArneBinder commented on #46
I added a field "type" to the template model, can be used via getter/setter. Should the value be auto-infered in any way or do we have to change the POST and PUT method?

@m1ci why do you assume that? The currently used and autowired TemplateDAO uses the MySQL database.

[2015-10-08 11:32] m1ci commented on #46
Thanks will try now. Well, the type value influences the GET, PUT and POST. Not sure if we should change them.

If this refers to a default value, then, yes, if the user does not specify he endpoint type, then by default we can assume that it is a SPARQL endpoint and set the value to SPARQL.

My mistake, you are right - it uses the database.

[2015-10-08 11:47] ArneBinder commented on #46
@m1ci sorry, there are still some problems with the new type field, had to remove it temporarily. I will let to know you, when it is fixed.

[2015-10-08 13:20] jnehring opened #48 "Support for RDF template formats"
The templates can be read and written using RDF or JSON. Right now only the JSON representation is up to date and contains the new fields `visibility`, `type` and `owner`. The turtle representation lacks these. Also there is no documentation for the RDF version of the template.

My suggestion is to remove the RDF version. We should remove it from broker and e-link.

@m1ci  is this ok with you? Or

[2015-10-08 13:34] jnehring commented on #46
done. @m1ci please check and close the issue.

[2015-10-08 14:03] jnehring opened #49 "Bug in PUT template"
I called
`http://api-dev.freme-project.eu/current/e-link/templates/77?token=a2baa132-da71-4cb9-b87a-e460bc67b168&informat=json&outformat=json` with body
[code]
The changes are saved but the return value is
[code]

Some parts of the broker log:

[code]

[code]

[2015-10-08 14:08] ArneBinder commented on #47
@m1ci
Note: it is not possible to upload a template as anonymousUser, you have to be logged in.

To achive this, create an user via tho [documentation page](http://api-dev.freme-project.eu/doc/api-doc/full.html#!/User/post_user) for instance, then [authenticate](http://api-dev.freme-project.eu/doc/api-doc/full.html#!/Authenticate/post_authenticate). You will get a token which you have to attach as

[2015-10-08 14:25] jnehring commented on #41
Nice! When I try your example for sparql I get the output attached to this post. There is a lot of "undefined" strings in the output. E.g.

[code]

Is this a bug?

[elink-explore-output.txt](https://github.com/freme-project/e-Link/files/10115/elink-explore-output.txt)

[2015-10-08 14:29] m1ci commented on #41
Do you run
   curl -v -X POST "http://api-dev.freme-project.eu/current/e-link/explore?resource=http%3A%2F%2Fdbpedia.org%2Fresource%2FBerlin&endpoint=http%3A%2F%2Fdbpedia.org%2Fsparql&endpoint-type=sparql"

for that request I dont get undefined strings

[2015-10-08 14:33] m1ci commented on #47
works, thanks!

[2015-10-08 14:41] jnehring commented on #41
Sorry. I found out that the problem originated from my client software and not from your code. So everything works fine!

I created two follow up tasks:
* https://github.com/freme-project/Documentation/issues/90
* https://github.com/freme-project/Broker/issues/117

[2015-10-08 17:18] ArneBinder commented on #49
fixed.

[2015-10-08 17:18] #49 closed

[2015-10-08 17:34] ArneBinder commented on #43
checked all template endpoints, no problems found.

[2015-10-08 17:34] #43 closed

[2015-10-09 08:28] jnehring opened #50 "Problem with template 2"
The CURL command in the attachment produces this error:

[code]

It works with other templates then template 2 so I assume this error lies within the template.

The logfile has this message:
[code]

[curl-template-2.txt](https://github.com/freme-project/e-Link/files/10608/curl-template-2.txt)

[2015-10-14 08:52] m1ci commented on #46
I see the type field is implemented as parameter when submitting the query. I think this info should be part of the JSON template. If it is OK with you, I'll remove the param and add this as part of the JSON object. Any objections?

[2015-10-14 08:54] m1ci commented on #48
OK, lets have JSON only.

[2015-10-14 08:58] jnehring commented on #46
Ok. I guess this will break the integration tests. Please run the integration tests when you do this update.

[2015-10-14 08:59] jnehring commented on #48
I think we will not be able to implement this within FREME 0.4. We leave this for FREME 0.5.

[2015-10-14 12:37] m1ci commented on #29
this has be done.
The templates now can be run against SPARQL or LDF endpoint.

A template can be created by submitting them as JSON which has the following structure:
[code]

A template can be submitted and created using the following cURL command:

    curl -v "http://api-dev.freme-project.eu/current/e-link/templates?visibility=public&outformat=json&token=YOUR_TOKEN" -H "Content-Type: applicatio

[2015-10-14 12:42] m1ci commented on #50
is this the template you are trying?

[code]

[2015-10-14 12:44] m1ci commented on #40
how should we proceed with this? what about manually adding them to the DB, assuring that we have the IDs we want? Actually, I can add them via the API but the IDs will be not as we want.

[2015-10-14 12:45] m1ci commented on #48
At the moment `informat` and `outformat` are forced to JSON when manipulating with templates. RDF is not used at all.

[2015-10-14 14:31] jnehring commented on #48
Ok I created https://github.com/freme-project/Documentation/issues/94 to note this in the documentation. I leave this issue open to take a 2nd look at the source code and do some testing.

[2015-10-14 14:32] josauder commented on #41
Is it intended that if I try your LDF endpoint but choose `sparql` for the `endpoint-type` parameter, I get a bunch of seemingly random outputs?

[code]

[2015-10-14 14:33] jnehring commented on #40
I will assign these templates to the admin user and then give you the username and password of the admin user. Then you can update the templates via the API. Does this sound good to you?

[2015-10-14 14:34] jnehring commented on #50
yes. should be template id 2.

[2015-10-14 14:50] m1ci commented on #50
my question was whether the template behind the ID 2 is the one I pasted. Asking because I don't know if you are using the live or dev API. Are you trying http://api-dev.freme-project.eu/current/e-link/templates/2?outformat=json ?

[2015-10-14 14:52] m1ci commented on #40
OK, but I think editing them directly in the DB will be much easier. But I'm fine with both ways of updating them.

[2015-10-14 14:59] m1ci commented on #41
The output is not "random" but proper turtle. The thing is that if you choose `sparql` but the URL is pointing to LDF endpoint then the normal Jena client is used to query the endpoint as it was SPARQL.
Yes, it is possible to query LDF endpoint using normal Jena client, but it is not recommended.

If you choose `ldf`  but the URL is pointing to LDF endpoint then a proper LDF Java client is used an

[2015-10-14 15:02] m1ci commented on #46
Yes, it broke the integration tests, but I fixed them and now it compiles OK. Jenkins also shows that it compiles OK.
Since this task is done, I'm closing this issue. Instructions on how to use the `endpoint-type` field can be found here: https://github.com/freme-project/e-Link/issues/29#issuecomment-148036658

[2015-10-14 15:02] #46 closed

[2015-10-14 15:03] m1ci commented on #29
closing the issue, you can test the LDF templates using the instruction in the previous comment.

[2015-10-14 15:03] #29 closed

[2015-10-14 15:07] josauder commented on #41
It is valid turtle, however the entities seem entirely random. I'm guessing we leave this enabled, but I think i should include a message in the documentation that this works but is not recommended.

[2015-10-14 15:07] #41 closed

[2015-10-14 15:10] m1ci commented on #41
this works because we are not able (or difficult to do) detect the type of the endpoint. I suggest you highlight in the doc that the clients should double-check the `endpoint-type` and the actual endpoint URL whether they have chosen the right type.

[2015-10-14 15:16] m1ci commented on #32
So you write a template which will enrich with that info.

The idea of being able to perform enrichment with several templates might seem at first sight useful BUT:
- the feature you are asking can be done with `pipelines` - this is one reason why they exist
- having one template which will be used to enrich with the same info is faster
- adding more complexity to the code
- no real innovation - w

[2015-10-14 15:18] m1ci commented on #19
this issue can be closed - the issue is covered by https://github.com/freme-project/e-Link/issues/40 and https://github.com/freme-project/e-Link/issues/39

[2015-10-14 15:18] #19 closed

[2015-10-15 07:32] jnehring commented on #40
Either way will work. Do you have access to the database? I can provide you with the credentials if you dont have them.

[2015-10-15 07:33] jnehring commented on #39
Thanks for looking into this. Any response from LGD maintainers?

[2015-10-15 07:35] jnehring commented on #32
I also think that we can use a pipeline for this, or a special template or the user has to do two api calls. Lets not make this feature more complicated then it is.

I close the issue. @ghsnd when you still have a need for this feature you can reopen and we continue discussing it.

[2015-10-15 07:35] #32 closed

[2015-10-15 07:47] jnehring commented on #50
I executed the curl again and there error still occurs. It calls api-dev.freme-project.eu (-> dev API). So yes I am trying http://api-dev.freme-project.eu/current/e-link/templates/2?outformat=json

[2015-10-15 08:31] m1ci commented on #39
they wrote that they will try reloading the data with Virtuoso 7.2.1 and hopefully it will solve the issues.

[2015-10-15 08:35] m1ci commented on #40
No I don't have, but you have experience with that tech, so maybe you can do that faster.
I'm more for updating the templates via the API.

[2015-10-15 08:36] m1ci commented on #50
OK, thanks for this info, let me check whats wrong with the template.

[2015-10-16 13:42] jnehring commented on #40
I updated the database as written above and send the admin auth token to milan so he can update the templates.

[2015-10-19 09:38] m1ci commented on #40
instead of template 5 we decided to introduce two similar templates. One can re-use the ID 5, what about the other template?

[2015-10-19 10:08] m1ci commented on #40
template 1 has been updated. See http://api-dev.freme-project.eu/current/e-link/templates/1?outformat=json

Waiting for feedback on https://github.com/freme-project/e-Link/issues/40#issuecomment-149163253 to update template 5

[2015-10-19 10:41] jnehring commented on #40
I suggest to create a new template for 5-2. Or do you have another idea?

[2015-10-19 10:55] m1ci commented on #40
5-2 is not valid ID. I checked and ID 8 is free. I'll push this template under ID 8.

[2015-10-19 12:07] m1ci commented on #40
The template has been created under ID 304. We need manually to change the ID from 304 to 8.

[2015-10-19 12:10] m1ci commented on #50
fixed. please check

[2015-10-19 13:12] jnehring commented on #40
I think id 304 is ok. Or do you see a problem with id 304?

[2015-10-19 13:15] m1ci commented on #40
Not at all :) ok, then this issue should be solved.

[2015-10-19 13:18] m1ci commented on #47
this issue should be fixed. closing.

[2015-10-19 13:18] #47 closed

[2015-10-19 13:51] josauder opened #51 "ConcurrentModificationException in e-Link/DataEnricher"
I get this error message when calling e-Link/documents with

[code]

Steps to reproduce:
checkout integration-tests branch
run ELinkSecurityTest as JUnitTest
error comes at testELinkDocuments

[2015-10-19 14:07] #40 closed

[2015-10-19 14:07] #50 closed

[2015-10-21 14:11] ghsnd opened #52 "Parallel creation of templates results in ConstraintViolationException"
I don't know if this is an issue related to e-Link or to the Broker, but it is easily reproducable with e-Link.

Creating templates in parallel results in a **ConstraintViolationException**.

Execute this in a bash shell (but change the curl command according to your test environment first). It just creates 10 templates in parallel:

[code]

Where **template.json** is for example:

[code]

but it

[2015-10-21 14:14] jnehring commented on #52
@ArneBinder please take a look at this.

[2015-10-21 20:41] m1ci commented on #51
It seems this is related to https://github.com/freme-project/e-Link/issues/52
@ArneBinder can you please comment if this is also related to https://github.com/freme-project/e-Link/issues/52 ?

[2015-10-22 10:20] ArneBinder commented on #51
@josauder which test in ELinkSecurityTest fails exactly?

[2015-10-22 11:02] josauder commented on #51
The function `DoElink` produces this error when being called in `testAnonymousUser` and `testELinkDocuments`

[2015-10-26 10:06] #51 closed

[2015-10-26 11:22] pheyvaer opened #53 "Errors 'explore'"
When `endpoint-type` is incorrect, the status code is 500. However, I expect a bad request.

[2015-10-26 11:23] pheyvaer opened #54 "'explore' does not support LDF"
with `resource` set to ` http://dbpedia.org/resource/Phil_Young_(writer)` and `endpiont` set to `http://fragments.dbpedia.org/2014/en`.

[2015-10-26 11:25] pheyvaer opened #55 "'documents': error when template ID is not a long"
e.g., a string instead of a long. This should result in a bad request exception.

Same for `templates/{tempalteid}`.

[2015-10-26 11:27] pheyvaer opened #56 "'documents': clearer error when providing a non-existing template ID"
Clearer error when calling `documents` with a non-existing, though valid, template ID.

Same for `templates/{tempalteid}`.

[2015-10-26 11:28] m1ci commented on #54
it supports, it seems you did not encode the URLs
Try

    curl -X POST --header "Content-Type: application/json" --header "Accept: text/turtle" "http://api-dev.freme-project.eu/current/e-link/explore?resource=http%3A%2F%2Fdbpedia.org%2Fresource%2FPhil_Young_(writer)&endpoint=http%3A%2F%2Ffragments.dbpedia.org%2F2014%2Fen&endpoint-type=ldf"

[2015-10-26 11:29] m1ci commented on #53
what do you mean by incorrect?

[2015-10-26 11:40] pheyvaer commented on #54
I didn't work using the Documentation page.

[2015-10-26 11:42] m1ci commented on #54
@jnehring this should be fixed in the documentation page - encode URI when submitting the request.

[2015-10-26 11:43] pheyvaer commented on #53
saying that is it LDF when it is sparql and the other way around

[2015-10-26 11:47] pheyvaer opened #57 "missing `type` when creating template"
This requests
[code]
results in
[code]

But what does `type` refer to?

[2015-10-26 11:47] m1ci commented on #53
this has been already discussed in https://github.com/freme-project/e-Link/issues/41#issuecomment-148068045 and we came to conclusion to highlight in the doc that the clients should double-check the endpoint-type and the actual endpoint URL whether they have chosen the right type.

[2015-10-26 11:51] m1ci commented on #57
it specifies whether the template is using LDF or SPARQL endpoint. See https://github.com/freme-project/e-Link/issues/29#issuecomment-148036658
@jnehring the documentation should be updated according to the info provided in https://github.com/freme-project/e-Link/issues/29#issuecomment-148036658

[2015-10-26 11:57] pheyvaer opened #58 "PUT templates with non-existing ID"
The doc says that a new template will be created if an ID is provided of a non-existing template. However, this results in an error saying that the template with that specific ID cannot be found.

[2015-10-26 14:31] m1ci commented on #56
currently the error for non-existing template is:

[code]

Whats your suggestion? What should be improved to make it more clear?

[2015-10-26 14:33] pheyvaer commented on #56
The message now talkes about a `resource` but I assume it means a template?

[2015-10-26 14:37] m1ci commented on #56
yes, it means template, however, this exception comes from a "generic" class - see https://github.com/freme-project/FREMECommon/blob/master/src/main/java/eu/freme/common/persistence/dao/OwnedResourceDAO.java#L84

@jnehring can we do smth with this?

[2015-10-26 14:39] pheyvaer commented on #56
OK, it is not a big issue. As you said, the name of the exception already states the problem :)

[2015-10-26 14:39] m1ci commented on #58
If I remember well, in FREME 0.3 it was decided that this will be dropped. @jnehring right?
This means that PUT can be used only for updating resources.

If that is the case, then the documentation should be updated.

[2015-10-26 14:43] m1ci commented on #55
for `/documents` - if you specify string for `templateid`
you receive
[code]
IMO its clear that there is NumberFormatException and that the required type is long. Or?

[2015-10-26 14:44] pheyvaer commented on #55
the error is clear, but should status code 400 instead of 500? bc the error is caused by the user and the not the server?

[2015-10-26 14:47] m1ci commented on #55
its caused by the server: org.springframework.beans.TypeMismatchException

[2015-10-27 08:58] jnehring commented on #56
Thanks for reporting @pheyvaer . I think the error message is ok and it is not easy to implement a specific error message in the generic class. So lets leave it like it is.

[2015-10-27 08:58] #56 closed

[2015-10-27 09:02] jnehring commented on #58
I think there is no need to let users specify the IDs of templates. So we should update the documentation and remove this bit.

@josauder please change a sentence in the documentation of PUT templates:

From `Update or creates an enrichment template (if it does not exist) with specified ID.`

To `Update an enrichment template with specified ID.`

[2015-10-27 09:06] jnehring commented on #57
Thanks for mentioning this. I created https://github.com/freme-project/Documentation/issues/117 to update the documentation

[2015-10-27 09:06] #57 closed

[2015-10-27 09:07] #53 closed

[2015-10-27 09:13] jnehring commented on #54
The documentation says "Please note that all parameter values submitted via the URLs query string need to be URL encoded according to RFC 3986.". I think we cannot do more.

[2015-10-27 09:13] #54 closed

[2015-10-27 09:15] jnehring commented on #55
I also think this should be 400 - bad request. This error seems to be thrown by spring so I will try to fix it.

[2015-10-27 12:37] pheyvaer opened #59 "Parallel calls resulting in problems"
with the parameters given in the documentation

- explore: when doing 100 or more parallel calls (Internal Server Error)
- documents: when doing 15 or more parallel calls (Internal Server Error)
- templates: when doing 250 or more parallel calls (Internal Server Error or time out)
- templates/{templateid}: when doing 350 or more parallel cals (java.net.SocketException: Connection reset or time out

[2015-10-27 12:38] jnehring commented on #59
@pheyvaer can you please share the script that you used so we can reproduce the error?

[2015-10-27 12:44] pheyvaer commented on #59
Here is a link to the JMeter file https://drive.google.com/file/d/0B-qMtkPK-unYeG1BcEhXdXotWU0/view?usp=sharing

[2015-10-27 12:54] jnehring commented on #52
We hope this is going to be solved by freme-project/FREMECommon#11

[2015-10-27 13:15] jnehring commented on #59
I am not so sure if we consider this as a bug report or normal behavior. What you do sounds like big data testing to me and especially the "Connection reset or time out" errors are actually correct behavior.

[2015-10-27 13:57] #48 closed

[2015-10-27 15:47] ArneBinder commented on #52
@ghsnd could you have a look, if this problem still occurs? Please reassign to me or close this issue, if it's solved. thanks!

[2015-10-27 16:10] jnehring commented on #55
I changed this. Unfortunately I could not use an automatic type validation by spring. In the e-Link endpoint I retrieved the value as string and then did the type check manually. I could not find a better solution. The solution is not very elegant but it works.

@pheyvaer please double check if the issue is solved and close the issue if it works now.

[2015-10-27 16:25] ghsnd commented on #52
It still occurs. Plus, sometimes the response is

[code]

On the Broker, this is logged:

[code]

And when returning a `200 OK`, it happens that templates get the same id in the response. Example (mind the difference in timestamp, though they have the same id):

[code]

Only the second one is saved (overwrites the first one) and listed when getting al the templates.

[2015-10-27 16:52] ArneBinder commented on #52
Ok, this is strange. Does this also happen on freme-dev or just at your local instance? At the moment I'm not able to reproduce this.

[2015-10-28 07:50] ghsnd commented on #52
You 're right: it doesn't happen on the dev server. Before I close this issue, I will try again locally after a fresh update.

[2015-10-28 08:36] ghsnd commented on #52
Now it works.

However, if I raise the number of concurrent requests to 300, a `org.hibernate.PessimisticLockException` occurs (**only locally, not on the dev server**). It boils down to the in-memory h2 database. It can be avoided if [this method in the TokenService](https://github.com/freme-project/Broker/blob/master/src/main/java/eu/freme/broker/security/TokenService.java#L51) gets synchronized

[2015-10-28 08:36] #52 closed

[2015-10-28 09:17] ghsnd commented on #52
See also issue freme-project/Broker#130.

[2015-10-28 12:45] #55 closed

[2015-10-28 12:50] pheyvaer opened #60 "PUT new template"
I get a 400 when trying the provided example:

[code]

[2015-10-28 15:07] jnehring commented on #60
Please share the whole request, e.g. as a CURL. And also the full response.

[2015-10-28 15:09] pheyvaer commented on #60
I just executed the example from the documentation.

Curl
[code]

Response body
[code]

[2015-10-28 18:22] m1ci commented on #60
There are several problems with the request:

1) `Unterminated string at 61  `
means that the JSON is not correctly formatted. Not sure how here the newline characters are encoded, but I suggest using `\n` or send the JSON from file using `-d @template.json`

2) there is not `endpointType` field in the JSON, but `type`

3) `visibility` should be send as query parameter and not as part of the JSON

[2015-10-28 18:34] m1ci commented on #60
hey Pieter, I was just reading https://github.com/freme-project/Documentation/issues/115 and realized that point 2) and 3) are not valid, so:

1) `Unterminated string at 61`
means that the JSON is not correctly formatted. Not sure how here the newline characters are encoded, but I suggest using \n or send the JSON from file using -d @template.json

2) `endpointType` is correctly set and it is part

[2015-10-28 19:04] m1ci commented on #39
just received message from the LGD maintainers:
1) they are creating new dump with latest data for LGD
2) they will load the dump in latest version of Virtuoso where the bug causing problems should be solved
3) As the full dump is very large, it may take a few days until this is finished.

[2015-10-29 08:12] pheyvaer commented on #60
@jnehring do you know about the first problem? Because I assume that when (new) users test the API using the documentation this should work, no?

[2015-10-29 10:48] jnehring commented on #60
The JSON in the code example is not correct. There are no newlines in JSON. Newlines are escaped with `\n` in JSON.

We will handle this issue in freme-project/Documentation#125

[2015-10-29 10:49] jnehring commented on #39
Ok so how do we proceed? I propose to

1) Hope that the problem is fixed until the release
2) When it is not fixed until next thursday then we will delete the template and try to add it again in one month

@m1ci does this sound good to you?

[2015-10-29 12:41] m1ci commented on #39
I agree.

[2015-10-29 13:06] jnehring commented on #60
@pheyvaer can you please try again? We updated the documentation.

[2015-10-29 13:48] pheyvaer commented on #60
@jnehring this works now. Is it also possible to provide an input field to add a token to the request?

[2015-10-29 14:23] jnehring commented on #60
You can find that field on the bottom of the full api documentation page. Its a new feature.

[2015-10-29 14:23] #60 closed

[2015-10-30 11:40] m1ci commented on #59
I sounds to me like big data testing too.

[2015-10-30 11:58] jnehring commented on #59
I think it is ok at this stage when we throw an InternalServerException when the server is overloaded. When we approach the big data topic again, maybe in FREME 0.5, then we can talk about how FREME should react on 100 calls in parallel

[2015-10-30 11:58] #59 closed

[2015-11-02 11:20] #58 closed

[2015-11-05 08:52] jnehring opened #61 "Bad Error Message"
This CURL
[code]

produces

[code]

The problem is the endpoint parameter `%20http%3A%2F%2Fdbpedia.org%2F` which starts with a space character. The logfile contains this error message:

[code]

Please catch this exception, transform it to BadRequestException, send error code 400 and this error message.

[2015-11-05 09:06] jnehring opened #62 "Create template that uses LDF"
@fsasaki wrote

http://api-dev.freme-project.eu/doc/api-doc/list-templates.html
I think we don’t have a template that shows usage of a linked data fragment endpoint - should we create one?

[2015-11-05 09:51] m1ci commented on #62
done. Created as admin - see http://api-dev.freme-project.eu/current/e-link/templates/4447?outformat=json

NIF to enrich.
[nif-to-enrich.txt](https://github.com/freme-project/e-Link/files/27880/nif-to-enrich.txt)

cURL example:

    curl -v -X POST "http://api-dev.freme-project.eu/current/e-link/documents?templateid=4447&informat=turtle&outformat=turtle" -d @nif-to-enrich.txt -H "Content-Type:"

[2015-11-05 10:01] jnehring opened #63 "Delete all templates that were not created by admin on freme-dev"

[2015-11-05 10:11] m1ci commented on #61
fixed, please try again:

    curl -X POST --header "Content-Type: application/json" --header "Accept: text/turtle" "http://api-dev.freme-project.eu/current/e-link/explore?resource=http%3A%2F%2Fdbpedia.org%2Fresource%2FBerlin&endpoint=%20http%3A%2F%2Fdbpedia.org%2Fsparql&endpoint-type=sparql"

The new error is:
[code]

[2015-11-05 12:31] jnehring commented on #63
I deleted 4115 templates that were not created by the admin using SQL commands. Then I deleted 4 templates with obvious test data and there were 50 templates left in the database.

Using this query I could find 30 dublicates:

[code]

I deleted these dublicates. Now there are 20 templates in the database with distinct queries.

[2015-11-05 12:31] #63 closed

[2015-11-05 12:41] jnehring commented on #62
Thank you!

@josauder please update the [list of templates](http://api-dev.freme-project.eu/doc/api-doc/list-templates.html). You can find title and description using http://api-dev.freme-project.eu/current/e-link/templates/4447

Somehow we lost template number 4. I double checked it was not deleted in #63 . @josauder can you please add this template? It might be possible that you cannot specify t

[2015-11-05 13:41] jnehring commented on #61
Works fine!

[2015-11-05 13:41] #61 closed

[2015-11-09 09:43] josauder commented on #62
Ok I will do that. Do you think we should take out the list of templates [here](http://api-dev.freme-project.eu/doc/api-doc/full.html#!/e-Link/getAllTemplates) because it is redundant with our dedicated list of templates page?

[2015-11-09 10:15] josauder commented on #62
I readded the template 4  which now has id 4448. I also added the other template. Do we have any example data (for the curl call) for template 4448 (template 4)? @jnehring

[2015-11-09 10:18] m1ci commented on #62
example data attached with the comment https://github.com/freme-project/e-Link/issues/62#issuecomment-154009743

[2015-11-18 10:18] pheyvaer opened #64 "Template with SELECT *"
When creating a template where the query uses a `SELECT` instead of `CONSTRUCT` (as done in the example), the result of the template is not as expected.

Consider the following example.
[code]
The result will only provide you with the comments, and the to which entities it belongs is not given. Though, we are asking for everything, using `SELECT *`.

By using a `CONSTRUCT` the issue is solved. How

[2015-11-18 10:37] m1ci commented on #64
yes, e-Link is using templates which are defined as CONSTRUCT queries. So, CONSTRUCT queries are supported at the moment only.

[2015-11-18 10:38] pheyvaer commented on #64
Will this change in the future?
Can you add it to the documentation that a `CONSTRUCT` is required?

[2015-11-18 11:00] m1ci commented on #64
I would rather stay with CONSTRUCT since it returns triples which can be easily added to any RDF model. For example, if the SELECT returns one resource, then it is not possible to an RDF model.
In your, example you want to enrich an entity with a comment information. The SELECT will return just the comment text. How should we then attach this to the document? we have no info how to do this. On the

[2015-11-19 11:57] jnehring commented on #64
Actually the documentation of POST /e-link/templates says you have to submit a CONSTRUCT query. I created an issue to add one more sentence to make it clearer:

https://github.com/freme-project/Documentation/issues/143

[2015-11-19 14:53] m1ci commented on #62
can we close this issue?

[2015-11-19 14:53] #64 closed

[2015-11-19 15:32] #62 closed

[2015-11-26 19:29] fsasaki opened #65 "Exception with e-link"
With the attached NIF (generated via e-entity) and the attached request I get this error message.

{
  "exception": "eu.freme.broker.exception.InvalidNIFException",
  "path": "/e-link/documents/",
  "message": "[line: 1, col: 1 ] Out of place: [KEYWORD:informat]",
  "error": "Bad Request",
  "status": 400,
  "timestamp": 1448565826671
}

What is the issue here?
[input-to-elink.txt](https://github.

[2015-12-14 10:44] jnehring opened #66 "GROUP function on our SPARQL endpoint"
Our SPARQL endpoint does not support the GROUP function. We need this for the filter queries.

@m1ci can you do something about that?

I recall from our discussions on the hackers meeting in Athens that we either have to update Virtuoso to the latest version (7.something) or we have to install a certain extension.

[2015-12-14 10:48] m1ci commented on #66
Can you please share SPARQL query which is using GROUP BY aggregation and does not work?

[2015-12-14 12:28] jnehring commented on #66
Endpoint: http://rv2622.1blu.de:8890/sparql
Graph IRI: http://localhost:8890/test-jan
SPARQL query:
[code]

Error message

[code]

[2015-12-14 13:23] m1ci commented on #66
I've updated our Virtuoso instance to version 07.20.3212
This should fix your issue. The query is valid.

[2015-12-14 13:37] jnehring commented on #66
Thanks. Unfortunately the query produces no output.

I also cannot open the conductor: http://rv2622.1blu.de:8890/conductor/

The query `SELECT ?s ?p ?o WHERE {?s ?p ?o}` does not produce any output as well on my graph http://localhost:8890/test-jan. Is it maybe deleted?

[2015-12-14 13:39] m1ci commented on #66
Yes, it was deleted.

Trying to fix that now.

[2015-12-14 14:59] m1ci commented on #66
fixed, please check.

[2015-12-14 15:34] jnehring commented on #66
Ok thanks. I can open the conductor now. But my dataset is gone.  It is no problem that my test dataset is gone, but did we loose any other important datasets?

[2015-12-14 18:12] m1ci commented on #66
No we did not. Actually, we have backup dumps of all our datasets. Also, everything is available via LDF too.

[2015-12-15 08:51] jnehring commented on #66
Ok thanks for updating the endpoint

[2015-12-15 08:51] #66 closed

[2016-02-19 09:42] m1ci opened #67 "creating templates does not work"
Creating templates does not work in the API documentation, the error message is:

How should we handled such situations?

[2016-02-19 09:43] m1ci commented on #67
... I guess the same applies to updating templates.

[2016-02-22 09:16] jnehring commented on #67
At the bottom of the full API documentation you can paste an API authentication token. I just tried at api-dev and it worked. Does this solve the issue?

[2016-02-22 10:25] m1ci commented on #67
Thanks for clarification. Yes it helped. I added input field for a token in the e-link tutorial
http://api-dev.freme-project.eu/doc/tutorials/getting-started-with-e-link.html#step-3-3-template-manipulation

However, I think its not clear for a user how to authenticate. The message says:

1) users do not log in
2) no clear info on how they should log in -> provide info that they should get token an

[2016-02-22 12:40] jnehring commented on #67
Moved to https://github.com/freme-project/technical-discussion/issues/114

[2016-02-22 12:40] #67 closed

[2016-02-23 09:52] m1ci commented on #65
sorry for the delayed reply, I've just investigated the problem:

1) the ```eu.freme.broker.exception.InvalidNIFException``` was due to invalid curl request. By sending
[code]
curl will set the content type header to application/x-www-form-urlencoded and thus the query parameters will be considered as part of the body. The correct request should also set the `Content-Type` header to `text/turtle`

[2016-02-23 10:37] m1ci commented on #39
fixed.
Try it at http://api-dev.freme-project.eu/doc/tutorials/getting-started-with-e-link.html#step-1-enrich
with template ID 7

[2016-02-26 09:33] jnehring opened #68 "Migrate to new architecture"

[2016-02-29 15:09] ArneBinder commented on #68
see https://github.com/freme-project/e-services/tree/master/linking

TODO:
* rename to "e-link"
* check for changes in the old e-Link project and migrate them

[2016-03-01 15:07] ArneBinder commented on #68
DONE
@jnehring Should this repo be marked as depricated in any way?

[2016-03-02 08:36] jnehring commented on #68
Thank you.

We will do so when the migration is over.

[2016-03-02 08:36] #68 closed

[2016-03-22 09:52] jnehring commented on #39
works. thank you

[2016-03-22 09:52] #39 closed

[2016-05-03 09:07] andish opened #69 "Pipelining e-Entity + e-Link, the second service fails"
Request:

[code]

Response

[code]

This error is input-text-specific, some other cases there is no error.

[2016-05-09 08:06] jnehring commented on #69
@ArneBinder please try to reproduce this bug and find out whats wrong.

[2016-05-09 17:25] ArneBinder commented on #69
The problem seems to rely on com.hp.hpl.jena.query. When executing the following e-link request:

[code]

with a small modification in exception/error passing I get:

[code]

Calling [the referenced dbpedia sparql endpoint](http://live.dbpedia.org/sparql) with the query mentioned in the exception gives this result:

[code]

Trying to read the char `–` of the uri `dbr:Battle_of_Jena–Auerstedt` in t

[2016-05-17 08:59] jnehring commented on #69
@m1ci the bug originates from e-link. Please take a look at the bug.

[2016-05-19 14:08] m1ci commented on #69
The issue is within Jena v 2.11.2 with the – char which is considered as invalid. We should consider upgrading Jena.
I found Jena dependency in FREMECommon
https://github.com/freme-project/FREMECommon/blob/master/pom.xml
@jnehring Where else is Jena set as dependency?

[2016-05-20 06:58] jnehring commented on #69
I think that Jena dependency is only defined in FREMECommon. I will update it to the latest version.

[2016-05-20 08:05] m1ci commented on #69
please upgrade to Jena 2.13.0
This Jena version is supported by Linked Data Fragments

[2016-05-26 08:23] jnehring commented on #69
@ArneBinder please update FREMECommon Jena dependency to Jena 2.13.0 and check if the bug is fixed by that.

[2016-05-26 11:14] jnehring commented on #69
We tried the upgrade to Jena 2.13.0 and it did not solve the problem. We cannot upgrade to higher versions of Jena because the LDF client is not compatible to higher Jena versions.

So we cannot fix this bug.

[2016-05-26 12:21] andish commented on #69
See 6.4 Escape Sequences
at https://www.w3.org/TR/turtle/#reserved

Seems that in turtle, the IRI cannot contain `-`.

I asked that DBpedia endpoint - it returns more than 13 000 resource IRIs containg character `-`. So i guest than this error will come up regularly.

So one solution would be asking the endpoint for other rdf syntax, e.g triples. [in case if e-link asks  n3/turtle from endpoints].

[2016-05-26 13:02] jnehring commented on #69
great idea! thanks @andish for the research and the proposal.
we will discuss this at next developers call.

[2016-06-01 11:26] m1ci opened #70 "update template 4496 to return one label only"
@jnehring @xFran

[2016-06-01 11:42] m1ci commented on #70
I updated the e-link template so it returns max one label per entity.
http://api-dev.freme-project.eu/current/e-link/templates/4496?outformat=json

[2016-06-01 11:42] m1ci commented on #70
@xFran please check.

[2016-06-01 12:22] x-fran commented on #70
@m1ci So far, so good. Working. Thank you.

[2016-06-01 12:22] #70 closed, assigned to x-fran

[2016-07-13 18:05] x-fran opened #71 "Add languages for labels"
I implemented and tested the labels in one of our application.
Since is working only in English it will be nice to have it for the rest of the languages.

Thank you.

[2016-07-13 18:09] m1ci commented on #71
Please provide list of languages? Thanks.

[2016-07-14 13:17] x-fran commented on #71
All languages supported by FREME if possible. If not German, French, Spanish, Italian at least. Thanks.

[2016-07-28 17:20] x-fran commented on #71
What's the status of this? Thanks

[2016-07-29 08:40] jnehring commented on #71
We should gather WRIPL tasks and prioritize. There is also the other task of the wripl custom dataset. Which one is more important?

[2016-07-29 08:52] x-fran commented on #71
Both have the same importance but let's do this first. Thanks

[2016-07-29 08:54] jnehring commented on #71
Which datasets do you use for the labels? Only DBPedia or do you use other datasets also?

[2016-07-29 08:58] x-fran commented on #71
For now DBPedia only. As far as I remember this feature works with DBPedia dataset only. Correct me if I'm wrong.

[2016-07-29 09:05] jnehring commented on #71
Yes right now we only have the data for dbpedia.

[2016-11-03 10:58] borriellom opened #72 "Error when the response from the endpoint contains the character '-'"
It seems that the e-Link service fails when the response from the endpoint contains the character `-`.

In order to reproduce the bug, invoke the service by submitting the NIF file and the SPARQL template below (the SPARQL template already exists on the current live version with id 4534).

**NIF file**
[code]

**SPARQL template**
[code]

**Response from the service**
[code]

When running the SPARQ

[2016-11-03 11:38] borriellom commented on #72
Sorry, I've just realized that this is the same as the #69 .

[2016-11-03 11:38] #72 closed, assigned to nobody

[2016-11-03 11:39] borriellom commented on #69
Any development on this issue?

[2016-11-07 09:05] jnehring commented on #69
No new developments. I put this issue on the agenda of next developers call.

[2016-11-09 12:47] jnehring commented on #69
On todays dev call we agreed that @sandroacoelho and @m1ci will work on the issue

[2016-11-18 12:28] m1ci commented on #69
the issue is fixed, @andish @borriellom please check!

[2016-11-18 14:34] borriellom commented on #69
It's fixed. Thank you!

[2016-11-24 09:37] jnehring commented on #69
Fixed on freme-live through the release

[2016-11-25 12:49] pheyvaer opened #73 "DBpedia Germany results in invalid UTF-8"
The following call gives an UTF-8 error.

`curl -X POST --header 'Content-Type: text/turtle' --header 'Accept: text/turtle' -d '_:d1 <http://www.w3.org/2005/11/its/rdf#taIdentRef> <http://dbpedia.org/resource/Germany>' 'https://api.freme-project.eu/current/e-link/documents/?templateid=4477'`

However, the same call, but while using `Berlin` instead of `Germany` works.

`curl -X POST --header 'Cont

[2016-11-27 20:56] m1ci commented on #73
it seems this is related to smth similar to http://stackoverflow.com/questions/11320108/what-does-the-message-invalid-byte-2-of-a-3-byte-utf-8-sequence-mean

Need to investigate more.

[2016-12-07 12:28] #69 closed, assigned to jnehring

[2017-01-10 10:35] jnehring opened #74 "Issues with LDF dependency"
I want to move the e-Link artifact to Maven central. It has a dependency on [Linked Data Fragments Client](https://github.com/LinkedDataFragments/Client.Java) which we have released and stored the release in our Maven repository. So I need to upload this to Maven also. But I have problems to compile the LDF client.

I downloaded the sources of e-Link and the LDF Client and the dependency of e-Link

[2017-01-11 14:49] jnehring commented on #74
I fixed this issue by using an older version of the ldf-client which is compatible to e-link.

[2017-01-11 14:49] #74 closed, assigned to m1ci

[2017-01-18 12:52] m1ci commented on #73
a very rare issue, currently the template is unavailable, thus this is not a critical issue, left open for any further developments.

[2017-01-18 12:55] m1ci commented on #71
no active discussion, closing the issue.

[2017-01-18 12:55] #71 closed, assigned to m1ci

[2017-01-18 12:55] m1ci commented on #65
no active discussion, closing the issue

[2017-01-18 12:55] #65 closed